<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <textarea id="analyse-text" name="analyse-text" placeholder="Enter text to be analysed here:" rows="4" cols="50" required maxlength="500"></textarea>
                    <input type="submit" value="submit" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="polarity"></div>
                <div id="confidence"></div>
                <div id="subjectivity"></div>
                <div id="agreement"></div>
                <div id="irony"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
