@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.item1 {
    width: 100%;
    margin: auto;
}

.item2 {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 10px;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

span {
    display: block;
}

input[type=submit] {
    background-color: #ffa62b;
    color: #ede7e3;
    font-size: 16px;
    width: 100%;
    padding: 5px 0;
}