header {
    background-color: #ffa62b;
    color: #ede7e3;
    height: 90px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}